@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  --white: 255, 255, 255;
  --black: 41, 41, 41;
  --orange: 255, 166, 17;
  --blue: 102, 92, 230;
  --green: 45, 186, 58;
}

body {
  background-color: rgb(var(--black));
  width: 100wh;
  height: 100vh;
  margin: 0px;
  color: rgb(var(--white));
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

#title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5em;
}

#logo svg {
  height: 2em;
}

#logo svg * {
  fill: rgb(var(--orange));
}

#word {
  font-size: 2.5em;
}

#sub .chips {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.cta {
  --s: var(--white);
  --p: var(--blue);
  --t: var(--white);

  color: rgb(var(--s));
  outline: 1px solid rgb(var(--p));
  font-family: 'IBM Plex Mono', monospace;
  cursor: pointer;

  border-radius: 3px;
  padding: 5px 7px;
}

.cta:hover {
  background-color: rgb(var(--p));
  color: rgb(var(--t));
}

.cta.green {
  --p: var(--green);
}

#push-notifications {
  position: fixed;
  bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

#push-notifications div#notification {
  outline: 1px solid rgb(var(--orange));
  color: rgb(var(--white));
  padding: 5px 7px;
  border-radius: 5px;
  max-width: min(80vw, 300px);
  text-align: center;
}

@media (max-width: 360px) {
  #title {
    font-size: 1.25em;
  }
}

@media (min-width: 780px) {
  #title {
    font-size: 2.25em;
  }
}
