<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="Daa, design, algorithm, analysis, system, designalgorithmanalysis, web, PWA, OpenEV, network, additive manufacturing, FEA, CAE, it is daa, simple and functional, Node-Based Programming, Creative Collaboration, Collaborative Coding Community">
    <meta name="description" content="Welcome to Daa, where innovation knows no bounds. We are a passionate community and pioneering tech hub, revolutionizing the way ideas come to life. At Daa, we offer a cutting-edge node-based programming interface, empowering everyone, from beginners to experts, to create, collaborate, and innovate seamlessly.">
    <link rel="icon" type="image/x-icon" href="./image/faviconDAA.ico">
    <link rel="icon" href="./images/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/article.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" />
</head>
<body>
    <a class="CTA" href="../">
        <span>Back Home</span>
        <span class="material-symbols-outlined">
            arrow_outward
        </span>
    </a>
    <article></article>
</body>
</html>