@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

html {
  cursor: crosshair;
}

body {
color: black;
background: white;
width: 100%;
}

#mail {
  text-decoration-color: grey;
  color: black;
  text-align: center;
  font-size: 0.7em;
}

.menu{
text-align: center;
font-family: 'Montserrat';
font-size: 2em;
margin: 10%;
}
